body {
  font-family: 'PT Serif', serif !important;
  font-size: 18px;
}
header {
  height: 40px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
header a {
  font-size: .9em;
}
header > a {
  margin-right: 1em;
}
header h4 {
  flex-grow: 1;
  margin: 0;
}
.ui-widget-content {
  border: 0;
}
.content {
  padding: 2em 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.content pre {
  background-color: hsla(213, 57%, 24%, 0.1);
  border-radius: var(--lumo-border-radius-m);
  margin-bottom: 0.3125em;
  margin-top: 0.3125em;
  padding: 0.3125em 0.625em;
}
